@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

html {
    font-family: 'Mukta', sans-serif;
    color: rgb(221, 221, 221);
}

a {
    color: #73b5f8;
}

body::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform: scale(1);
    z-index: -1000;

    background-image: url("../images/bg.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#site-container {
    padding-top: 30px;
    width: fit-content;
    max-width: 100%;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

ul {
    list-style-type: none;
}

ul, ol {
    margin: 0;
    margin-right: 10px;
    margin-left: 20px;
    padding: 0;
}

#wide-site-container {
    padding: 0 20px;
    margin: auto;
    max-width: 1000px;
}

#thin-site-container {
    max-width: 700px;
    padding: 0 20px;
    margin: auto;
}

#site-title {
    margin: 0;
    margin-left: 75px;
}

#external-links {
    text-align: center;
    margin: 0px;
}

.external-link {
    margin: 0 10px;
}

#columns:after {
    content: "";
    display: table;
    clear: both;
}

.skills-columns {
    margin-top: 30px;
}

.skill {
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 100px;
    border: 1px solid gray;
}

.skills {
    display: block;
    margin: auto;
    width: fit-content;
}

.column3 {
    width: 33%;
    float: left;
}

.item {
    display: inline-block;
    margin: 5px 7px;
    line-height: 25px;
    padding: 0 10px;
    border-radius: 100px;
    border: 1px solid gray;
}

.center-inline {
    text-align: center
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

.inline {
    display: inline-block;
}

.right-border, .lr-border {
    border-right: 1px solid white;
}

.left-border, .lr-border {
    border-left: 1px solid white;
}

.column-header {
    font-size: large;
    margin: 0;
}

.toc-category {
    /* display: inline-block; */
    /* margin: 0 20px; */
    width: fit-content;
}

.project {
    padding-left: 20px;
    margin-bottom: 20px;
}

.project-title {
    font-size: x-large;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
}

.project-body {
    margin: 20px;
    padding: 0;
}

.project-description {
    font-size: medium;
    font-weight: normal;
}

.project-images {
    text-align: center;
    width: fit-content;
    margin: auto;
}

.project-image {
    display: inline-block;
    height: 200px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid gray;
    cursor: zoom-in;
}

.project-image.tall {
    height: 500px;
}

.project-link {
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
}

#project-list {
    padding-bottom: 100px;
}

.project-category {
    margin-top: 80px;
}

#gallery-container {
    margin: 20px auto;
    margin-bottom: 40px;
}

/* Background gallery of images */
#gallery {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    padding: 0;
    line-height: 0;
    overflow: hidden;
    /* border-radius: 20px; */
}

.gallery-image {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    line-height: 0;
    object-fit: cover;
    cursor: zoom-in;
    width: 100%;
    height: 100%;
}

.gallery-link {
    line-height: 0;
    display: inline-block;
    text-align: center;
    width: 33%;
    height: 200px;
    overflow: hidden;
    margin: auto;
}

#pronoun-fries {
    font-size: medium;
    font-weight: normal;
    margin-left: 10px;
    color: rgb(165, 165, 165);
}

.project-technology {
    display: inline-block;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 100px;
    background-color: rgb(117, 117, 117);
}

.project-technologies {
    margin-top: 10px;
}

#link-show-email {
    cursor: pointer;
    text-decoration: underline;
}

@media all and (max-width: 700px) {
    .project {
        margin-left: 0;
        padding-left: 0;
    }

    .project > summary {
        padding-left: 20px;
    }

    /* .project-image, .project-image.tall {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
        box-sizing: border-box;
    } */

    #columns::after {
        display: block;
    }

    .column3 {
        margin-bottom: 30px;
        width: 100%;
    }

    body, #site-container, #thin-site-container, #wide-site-container, .project-body, .project-image, .project-image.tall {
        width: 100vw;
        max-width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: auto;
    }

    .external-link {
        display: block;
        margin: auto;
    }

    #thin-site-container {
        padding: 0 20px;
    }

    .project-description {
        margin-left: 20px;
        margin-right: 10px;
    }

    .project-images {
        margin: 10px 0;
    }

    .project-image, .project-image.tall {
        margin: 10px 0;
    }

    .gallery-link {
        width: 50%;
        height: 200px;
    }
}